<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annyw.dao.UserDao">
    <update id="checkTable" parameterType="String">
        DROP TABLE IF EXISTS ${name}
    </update>
    <update id="createTable" parameterType="String">
        CREATE TABLE ${name}
        (
            id INTEGER PRIMARY KEY AUTO_INCREMENT,
            username varchar(24) NOT NULL,
            age INTEGER NOT NULL,
            update_time timestamp not null default CURRENT_TIMESTAMP on update CURRENT_TIMESTAMP
        )
    </update>
    <update id="checkTrigger">
        DROP TRIGGER IF EXISTS updateTrigger
    </update>
    <update id="createTrigger" parameterType="String">
        CREATE TRIGGER updateTrigger
            BEFORE
            UPDATE ON ${name} FOR EACH ROW
            BEGIN
                SET NEW.update_time=NOW();
            END
    </update>
    <insert id="addUser">
        insert into ${table_name} (username, age) values (#{puname}, #{page})
    </insert>
    <update id="changeName">
        UPDATE testnew SET username = 'Austin' where id = 1
    </update>
    <select id="getUserList" resultType="com.annyw.pojo.User" parameterType="String">
        select * from ${name} where age &lt; 20
    </select>
    <select id="getAllUsers" resultType="com.annyw.pojo.User" parameterType="String">
        select * from ${name}
    </select>
</mapper>
